/* Basic styling */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Source Code Pro', monospace;
  background: #000;
  scroll-behavior: smooth;
  text-transform: lowercase;
}

h1 {
    text-align: left;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.2em;
    padding: 20px 40px;
    margin-bottom: 0px; /* Reduce the space below the h1 */
}

p {
    text-align: left;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.2em;
    padding-left: 40px; /* Keep left padding */
    margin-top: 0px; /* Remove any margin above the p tag */
    margin-bottom: 30px;
}



.divider {
    border-top: 1px solid #ccc;
    margin: 10px 40px;
  }
  
/* Resizing */
@media (max-width: 768px) {
  p {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 480px) {
  p {
    padding: 0px 10px;
  }
}
